.footer {
  .footer-content {
    display: flex;
    padding-top: 10.12rem;
    justify-content: space-between;

    @include mediaQueries(large) {
      padding-bottom: 0rem;
      flex-wrap: wrap;
    }

    .item {
      margin-bottom: 3rem;
    }

    .about {
      margin-right: 4rem;

      .logo {
        img {
          max-height: 260px;
          width: auto;
        }
      }

      p {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--ra-color-black);
        padding: 1.5rem 0;
        letter-spacing: 0.3px;
      }
    }

    .contact-us,
    .quick,
    .footer-social {
      .title {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--ra-color-gray-1);
        margin-bottom: 1.6rem;
      }
    }

    .quick {
      display: none;
    }

    .contact-us {
      .label {
        font-size: 1.8rem;
        font-weight: 400;
        color: var(--ra-color-gray-2);
        margin-bottom: 8px;
      }

      li {
        list-style: none;
        margin-bottom: 1.6rem;

        span {
          font-size: 1.6rem;
          font-weight: 500;
          color: var(--ra-color-black);
          line-height: 3rem;
        }
      }
    }

    .footer-social {
      li {
        list-style: none;
        margin-bottom: 1.6rem;
        a {
          font-size: 1.8rem;
          font-weight: 500;
          color: var(--ra-color-gray-1);
          line-height: 2rem;
        }
      }
    }
  }

  .all-rights {
    border-top: 1px solid var(--ra-color-gray-5);
    padding: 2rem 0rem 4.6rem 0rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--ra-color-gray-1);
    line-height: 2rem;

    @include mediaQueries(large) {
      text-align: center;
    }
  }
}
