.scrollbar {
  padding-left: 1rem;
  overflow-y: auto;
  direction: rtl;
  cursor: s-resize;

  & > div {
    direction: initial;
  }
  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: var(--ra-color-gray-3);
    opacity: 0.1;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: var(--ra-color-gray-3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(var(--ra-color-blue), 0.4);
  }
}
